In [2]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [3]:
nRowsRead = 1000
df = pd.read_csv("data/Chicago_Crimes_2001_to_2004.csv", delimiter=',', nrows = nRowsRead)

In [4]:
df.head(5)

,Unnamed: 0,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,879,4786321,HM399414,01/01/2004 12:01:00 AM,082XX S COLES AVE,0840,THEFT,FINANCIAL ID THEFT: OVER $300,RESIDENCE,False,...,7.0,46.0,06,NaN,NaN,2004,08/17/2015 03:03:40 PM,NaN,NaN,NaN
1,2544,4676906,HM278933,03/01/2003 12:00:00 AM,004XX W 42ND PL,2825,OTHER OFFENSE,HARASSMENT BY TELEPHONE,RESIDENCE,False,...,11.0,61.0,26,1173974.0,1876757.0,2003,04/15/2016 08:55:02 AM,41.817229,-87.637328,"(41.817229156, -87.637328162)"
2,2919,4789749,HM402220,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,...,35.0,22.0,20,NaN,NaN,2004,08/17/2015 03:03:40 PM,NaN,NaN,NaN
3,2927,4789765,HM402058,12/30/2004 08:00:00 PM,045XX W MONTANA ST,0840,THEFT,FINANCIAL ID THEFT: OVER $300,OTHER,False,...,31.0,20.0,06,NaN,NaN,2004,08/17/2015 03:03:40 PM,NaN,NaN,NaN
4,3302,4677901,HM275615,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,0841,THEFT,FINANCIAL ID THEFT:$300 &UNDER,RESIDENCE,False,...,34.0,49.0,06,1174948.0,1831051.0,2003,04/15/2016 08:55:02 AM,41.691785,-87.635116,"(41.691784636, -87.635115968)"

In [5]:
df.columns

Index(['Unnamed: 0', 'ID', 'Case Number', 'Date', 'Block', 'IUCR',
       'Primary Type', 'Description', 'Location Description', 'Arrest',
       'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code',
       'X Coordinate', 'Y Coordinate', 'Year', 'Updated On', 'Latitude',
       'Longitude', 'Location'],
      dtype='object')

In [6]:
df.describe()

,Unnamed: 0,ID,Beat,District,Ward,Community Area,X Coordinate,Y Coordinate,Year,Latitude,Longitude
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,2.480000e+02,2.480000e+02,1000.000000,248.000000,248.000000
mean,250320.143000,5.202175e+06,1194.285000,11.225000,22.067000,39.999000,1.163728e+06,1.884334e+06,2002.987000,41.838230,-87.674739
std,159064.529281,3.042497e+05,707.414595,6.953613,13.060976,21.813317,1.497557e+04,3.015640e+04,1.064878,0.082938,0.054452
min,879.000000,3.644280e+06,111.000000,1.000000,1.000000,1.000000,1.127354e+06,1.817101e+06,2001.000000,41.652925,-87.807053
25%,95605.000000,4.928432e+06,711.000000,6.000000,11.000000,23.000000,1.151719e+06,1.860182e+06,2002.000000,41.771493,-87.718817
50%,226320.500000,5.167099e+06,1017.500000,9.000000,21.000000,38.000000,1.164188e+06,1.888082e+06,2003.000000,41.848537,-87.672416
75%,386570.500000,5.469987e+06,1731.000000,16.000000,31.000000,63.000000,1.174827e+06,1.908888e+06,2004.000000,41.905735,-87.634969
max,564443.000000,5.806666e+06,2535.000000,25.000000,50.000000,77.000000,1.202797e+06,1.951249e+06,2004.000000,42.021869,-87.532859

In [8]:
df.isnull().sum()

Unnamed: 0                0
ID                        0
Case Number               0
Date                      0
Block                     0
IUCR                      0
Primary Type              0
Description               0
Location Description      0
Arrest                    0
Domestic                  0
Beat                      0
District                  0
Ward                      0
Community Area            0
FBI Code                  0
X Coordinate            752
Y Coordinate            752
Year                      0
Updated On                0
Latitude                752
Longitude               752
Location                752
dtype: int64