In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler
import matplotlib.pyplot as plt # plotting
import numpy as np # linear algebra
import os # accessing directory structure
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
nRowsRead = 500000
#nRowsRead = None
df1 = pd.read_csv("data/Chicago_Crimes_2001_to_2004.csv", delimiter=',', nrows = nRowsRead)
df2 = pd.read_csv("data/Chicago_Crimes_2005_to_2007.csv", delimiter=',', nrows = nRowsRead)
df3 = pd.read_csv("data/Chicago_Crimes_2008_to_2011.csv", delimiter=',', nrows = nRowsRead)
df4 = pd.read_csv("data/Chicago_Crimes_2012_to_2017.csv", delimiter=',', nrows = nRowsRead)

dataframe = []
dataframe.append(df1)
dataframe.append(df2)
dataframe.append(df3)
dataframe.append(df4)

In [3]:
result = pd.concat(dataframe, ignore_index=True)

In [4]:
result = result.drop([result.columns[0],'ID','District','Case Number','IUCR',
             'Description','FBI Code','X Coordinate', 'Y Coordinate', 'Ward', 'Location'], axis = 1)
result

,Date,Block,Primary Type,Location Description,Arrest,Domestic,Beat,Community Area,Year,Updated On,Latitude,Longitude
0,01/01/2004 12:01:00 AM,082XX S COLES AVE,THEFT,RESIDENCE,False,False,424,46.0,2004,08/17/2015 03:03:40 PM,NaN,NaN
1,03/01/2003 12:00:00 AM,004XX W 42ND PL,OTHER OFFENSE,RESIDENCE,False,True,935,61.0,2003,04/15/2016 08:55:02 AM,41.817229,-87.637328
2,06/20/2004 11:00:00 AM,025XX N KIMBALL AVE,OFFENSE INVOLVING CHILDREN,RESIDENCE,False,False,1413,22.0,2004,08/17/2015 03:03:40 PM,NaN,NaN
3,12/30/2004 08:00:00 PM,045XX W MONTANA ST,THEFT,OTHER,False,False,2521,20.0,2004,08/17/2015 03:03:40 PM,NaN,NaN
4,05/01/2003 01:00:00 AM,111XX S NORMAL AVE,THEFT,RESIDENCE,False,False,2233,49.0,2003,04/15/2016 08:55:02 AM,41.691785,-87.635116
...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,04/26/2013 10:25:00 AM,0000X W CTA 95TH ST LN,DECEPTIVE PRACTICE,CTA PLATFORM,False,False,634,49.0,2013,02/04/2016 06:33:39 AM,41.722768,-87.624410
1999996,04/26/2013 12:07:00 PM,071XX S EMERALD AVE,NARCOTICS,ALLEY,True,False,732,68.0,2013,02/04/2016 06:33:39 AM,41.764268,-87.643003
1999997,04/26/2013 06:15:00 AM,131XX S BALTIMORE AVE,NARCOTICS,RESIDENCE,True,False,433,55.0,2013,02/04/2016 06:33:39 AM,41.656764,-87.547139
1999998,04/26/2013 02:00:00 AM,005XX N RIDGEWAY AVE,THEFT,STREET,False,False,1122,23.0,2013,02/04/2016 06:33:39 AM,41.890782,-87.719842
1999999,04/26/2013 05:10:00 AM,009XX W LAWRENCE AVE,THEFT,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,False,1914,3.0,2013,02/04/2016 06:33:39 AM,41.969107,-87.653552

In [5]:
result = result.dropna()
from datetime import *
result['Date'] = pd.to_datetime(result['Date'], format='%m/%d/%Y %I:%M:%S %p').dt.strftime('%d/%m/%Y %H:%M:%S')
result

/tmp/ipykernel_3235/3517475896.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result['Date'] = pd.to_datetime(result['Date'], format='%m/%d/%Y %I:%M:%S %p').dt.strftime('%d/%m/%Y %H:%M:%S')

,Date,Block,Primary Type,Location Description,Arrest,Domestic,Beat,Community Area,Year,Updated On,Latitude,Longitude
1,01/03/2003 00:00:00,004XX W 42ND PL,OTHER OFFENSE,RESIDENCE,False,True,935,61.0,2003,04/15/2016 08:55:02 AM,41.817229,-87.637328
4,01/05/2003 01:00:00,111XX S NORMAL AVE,THEFT,RESIDENCE,False,False,2233,49.0,2003,04/15/2016 08:55:02 AM,41.691785,-87.635116
6,01/01/2001 11:00:00,114XX S ST LAWRENCE AVE,CRIM SEXUAL ASSAULT,RESIDENCE,True,True,531,50.0,2001,08/29/2006 03:46:28 AM,41.687020,-87.608445
7,15/03/2003 00:00:00,090XX S RACINE AVE,OTHER OFFENSE,RESIDENCE PORCH/HALLWAY,False,False,2222,73.0,2003,04/15/2016 08:55:02 AM,41.729712,-87.653159
9,01/01/2003 00:00:00,009XX S SPAULDING AVE,THEFT,RESIDENCE,False,False,1134,29.0,2003,04/15/2016 08:55:02 AM,41.869772,-87.708180
...,...,...,...,...,...,...,...,...,...,...,...,...
1999995,26/04/2013 10:25:00,0000X W CTA 95TH ST LN,DECEPTIVE PRACTICE,CTA PLATFORM,False,False,634,49.0,2013,02/04/2016 06:33:39 AM,41.722768,-87.624410
1999996,26/04/2013 12:07:00,071XX S EMERALD AVE,NARCOTICS,ALLEY,True,False,732,68.0,2013,02/04/2016 06:33:39 AM,41.764268,-87.643003
1999997,26/04/2013 06:15:00,131XX S BALTIMORE AVE,NARCOTICS,RESIDENCE,True,False,433,55.0,2013,02/04/2016 06:33:39 AM,41.656764,-87.547139
1999998,26/04/2013 02:00:00,005XX N RIDGEWAY AVE,THEFT,STREET,False,False,1122,23.0,2013,02/04/2016 06:33:39 AM,41.890782,-87.719842
1999999,26/04/2013 05:10:00,009XX W LAWRENCE AVE,THEFT,CHURCH/SYNAGOGUE/PLACE OF WORSHIP,False,False,1914,3.0,2013,02/04/2016 06:33:39 AM,41.969107,-87.653552

In [6]:
result.to_csv('python_preprocess.csv')

In [7]:
# df.head(5)

In [8]:
# df.columns

In [9]:
# df.describe()

In [10]:
# df.isnull().sum()

In [11]:
# df = df.drop(['Unnamed: 0', 'Domestic','Beat','District','Case Number','IUCR','Description','Community Area','FBI Code','X Coordinate', 'Y Coordinate', 'Updated On'], axis = 1)
# df = df.dropna()

In [12]:
# d=df.groupby('Primary Type').sum()["Arrest"]
# d

In [13]:
# plt.style.use(plt.style.available[9])
# plt.figure(figsize=(8,8))
# plt.pie(
#     df.groupby('Primary Type').sum()["Arrest"],
#     labels=df.groupby("Primary Type").sum().index,
#     radius=1, 
#     autopct='%0.1f%%', )
#     #explode=[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0])
# plt.title('test', fontdict={'fontsize': 16})
# plt.show()

In [14]:
# df.loc[df['Year'] == 2002]